.form {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 50px;
}


main ul {
    display: grid;
    list-style: none;
    gap: 30px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

h3,
p {
    margin: 0 !important;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    position: absolute;
    top: 22%;
    right: 50%;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}